.body {
  margin: 0;
  background: linear-gradient(to right, #a98a00, #484848);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  border-style: outset;
  text-align: center;
  flex-wrap: wrap;
  background-color: #333;
  box-shadow: rgb(73, 72, 72) 5px 10px 10px;
  border-color: grey;
  margin: 10px auto;
}

.rulesList,
#rules {
  background-color: #a98a00;
  color: #000;
}

li {
  text-align: left;
}

#hello {
  color: #ea5959;
}

h1 {
  color: #000;
  border-bottom-style: dotted;
  border-color: #000;
}

.quizBoxContainer {
  background-color: #a98a00;
  color: #000;
  border-style: outset;
  border-color: grey;
  box-shadow: rgb(73, 72, 72) 5px 10px 10px;
  text-align: center;
  flex-wrap: wrap;
  font-size: 22px;
  margin: 25px auto;
  height: 500px;
  max-width: 900px;
}

#quizBox {
  background-color: #a98a00;
  color: #000;
  border-style: dotted;
  border-color: #000;
  text-align: center;
  flex-wrap: wrap;
  font-size: 22px;
  margin: 0 auto 10px;
  height: 445px;
  max-width: 900px;
}

#leaderboard {
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}

p {
  padding: 5px;
  border-color: #000;
  margin: 0;
  margin-bottom: 1rem;
  border-style: solid;
}

h2 {
  text-align: center;
  font-size: 2rem;
  padding: 15px;
}

.leaderBoardBox {
  background-color: #a98a00;
  color: #000;
  border-style: outset;
  border-color: grey;
  box-shadow: rgb(73, 72, 72) 5px 10px 10px;
  text-align: center;
  flex-wrap: wrap;
  font-size: 22px;
  height: 70px;
}

.footer {
  border-style: solid;
  border-color: grey;
  border-width: 5px;
  background-color: #171616;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  height: auto;
}

#footerText {
  color: #ea5959;
  text-align: center;
}

.btn {
  border-style: solid;
  border-color: #000;
  color: #ea5959;
  background-color: #171616;
}

.btn:hover {
  color: grey;
}

.answer-btn {
  border-style: hidden;
  background-color: #a98a00;
}

.answer-btn:hover {
  border-style: dotted;
  border-color: #ea5959;
}

#leaderboardScore,
#leaderboardName {
  margin-left: 10px;
  width: auto;
  background-color: tan;
}

@media (max-width: 600px) {
  /* Adjust styles for smaller screens */
  .container,
  .quizBoxContainer,
  #quizBox,
  .leaderBoardBox,
  .footer {
    width: 90%;
  }
}
